<% include partials/header-sub-1 %>
<div class="home">
		<div id ="slider">
	        <figure>
	            <img src="css/img/beef-steak.jpg" alt="">
	            <img src="css/img/dimsum.jpg" alt="">
	            <img src="css/img/Healthy-Food.jpg" alt="">
	            <img src="css/img/Sushi.jpg" alt="">
	        </figure>
    	</div>
		<a href="foods" class ="btn-text"><button id="home" class="btn">FoodSite</button></a>
		<img src="/img/logo-white.png" alt="Ommifood logo" class="logo-black"></a>
</div>

